.menu-sectiontitle{
  padding-left: 2rem;
  padding-top: 2rem;
  font-family: SpartanLimport;
  color:#bd1220 ;
}

.menu-describe{
  padding-left: 2rem;
  padding-top: 1rem;
  color: black;
  font-size: 18px;
  line-height: 1.5;
}

.menu-subtitle {
  text-transform: uppercase;
  font-family: SpartanLimport;
  color:black;
  font-size: 40px;
}

.menu{
  background-color: #E0E5EC;
  display: inline-flex;
  width:100%;
  z-index: 1;
  float: center;
}

.menu-section{
  float: left;
  background-color: #E0E5EC;
  width: 25%;
  padding: 2rem;  
  height: 420px;
  z-index: 2;
}

.menu-flip-card {
  background-color: transparent;
  width: 90%;
  height: 105%;
  perspective: 1000px;
  z-index: 3;
}

.menu-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
  border-radius: 5%;
  background: none;
}

.menu-flip-card:hover .menu-flip-card-inner {
  transform: rotateY(180deg);
}

.menu-flip-card-front, .menu-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.menu-flip-card-front {
  background: #E0E5EC;
  color: black;
}

.menu-flip-card-back {
  background-color: #E0E5EC;
  color: black;
  transform: rotateY(180deg);
  border-radius: 5%;
}

.menu-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu-text-title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#bd1220;
}

.menu-header-container{
  display: inline-flex;
  width:100%;
  padding:1rem;
}

.menu-hr-container {
  width: 100%;
  height: 41px;
  padding-top:2.5%;
}

.menu-hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  border-color: black;
}

.menu-image{
  width:100%;
  height:100%;
  border-radius: 5%;
}

.menu-circle-image{
  width: 75px;
}
.about-text
{
	font-color: black;
	text-align: center;
}
.menu-button-on{
  background-color: #E0E5EC;
  border-radius: 50%;
  border: 5px solid #E0E5EC;
  width: 10%;
  transition: 0.5s;
  box-shadow: none;
  outline: none;
}

.menu-circle-image:hover{
  cursor: pointer;
}

.menu-button-off{
  background-color: #E0E5EC;
  border-radius: 50%;
  border: 5px solid #E0E5EC;
  width: 10%;
  outline: none;
  transition: 0.5s;
  box-shadow: 2px 2px 8px rgb(163,177,198,0.6), -2px -2px 12px    rgba(255,255,255, 0.5);;
}
h2
{
	color:silver;
}
body{
background-image:url('../images/info bg.jpg');
background-repeat:no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo{
      width:100px;
      height: 100px;
      position: relative;
      left:150px;
      border-radius: 70px;
}
.main-nav{
  font-family: britanica bold;
margin-top:60px;
color: white;
position: absolute;
top: -15px;
right:50px;
}
#id1
{
	text-align: center;
}
.main-nav li{
display:inline-block;
list-style:none;
margin-left:40px;
font-color:white;
}


.main-nav li a{
padding:5px 0;
color: white;
text-decoration:none;
font-size:20px;
}
.main-nav li a:hover{
	text-decoration: bold;
	font-color: white;
	font-family: britanica bold;
border-bottom:2px solid #bf55ec;
text-shadow: 10px 10px 20px pink;
}
h1{
    text-align: center;
font-family:cursive,sans-serif;
}
p{
    text-align: justify;
    color: rgb(94, 96, 97);
}